
<div class="card border-primary mb-3">
    <div class="card-header">Lugar de trabajo</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Relevemaniento</h5>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sector</th>
                    <th>adverseWeatherDetalis</th>
                    <th>adverseWeather</th>
                    <th>lightingDetails</th>
                    <th>lighting</th>
                    <th>inspectionDate</th>
                    <th>inspection</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.workPlace.name }}</td>
                    <td>{{ event.workPlace.sector }}</td>
                    <td>{{ event.workPlace.adverseWeatherDetalis }}</td>
                    <td>{{ event.workPlace.adverseWeather }}</td>
                    <td>{{ event.workPlace.lightingDetails }}</td>
                    <td>{{ event.workPlace.lighting }}</td>
                    <td>{{ event.workPlace.inspectionDate }}</td>
                    <td>{{ event.workPlace.inspection }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

