
<div class="card border-primary mb-3">
    <div class="card-header">Lugar de trabajo</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Relevemaniento</h5>

        <div class="table-responsive">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sector</th>
                    <th>adverse Weather Detalis</th>
                    <th>adverse Weather</th>
                    <th>lighting Details</th>
                    <th>lighting</th>
                    <th>inspection Date</th>
                    <th>inspection</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.workPlace.name }}</td>
                    <td>{{ event.workPlace.sector }}</td>
                    <td>{{ event.workPlace.weather }}</td>
                    <td>{{ event.workPlace.lighting }}</td>
                    <td>{{ event.workPlace.inspectionDate }}</td>
                    <td>{{ event.workPlace.inspection }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

