<div class="card border-primary mb-3">
    <div class="card-header">Lugar de trabajo</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Eventos</h5>

        <div class="table-responsive">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>date Event</th>
                    <th>description</th>
                    <th>severity</th>
                    <th>po Severity</th>
                    <th>body Part</th>
                    <th>injury</th>
                    <th>inciden Type</th>
                    <th>imagen</th>
                    <th>aditional Imagen</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.id }}</td>
                    <td>{{ event.dateEvent }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.severity }}</td>
                    <td>{{ event.poSeverity }}</td>
                    <td>{{ event.bodyPart }}</td>
                    <td>{{ event.injury }}</td>
                    <td>{{ event.incidenType }}</td>
                    <td>{{ event.imagen }}</td>
                    <td>{{ event.aditionalImagen }}</td>
                    
                </tr>

            </tbody>
        </table>
    </div>
    </div>
</div>

