<div class="card border-primary mb-3">
    <div class="card-header">Trabajadores</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Relevemaniento</h5>

        <div class="table-responsive">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>birth</th>
                    <th>entry</th>
                    <th>workOccasionDetails</th>
                    <th>workOccasion</th>
                    <th>experienceDetails/th>
                    <th>experience</th>
                    <th>fatiguedDetails</th>
                    <th>fatigued </th>
                    <th>traisningDetail</th>
                    <th>training </th>
                    <th>trainingDate</th>
                    <th>physicsCapDetails</th>
                    <th>physicsCap</th>
                    <th>mentalCapDetails</th>
                    <th>mentalCap</th>
                    <th>physicalTensionDetails</th>
                    <th>physicalTension</th>
                    <th>mentalTensionDetails</th>
                    <th>mentalTension</th>
                    <th>accidentHistory</th>
                    <th>dateAccidentHistory</th>
               

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.worker.birth }}</td>
                    <td>{{ event.worker.entry }}</td>
                    <td>{{ event.worker.workOccasionDetails }}</td>
                    <td>{{ event.worker.workOccasion }}</td>
                    <td>{{ event.worker.experienceDetails }}</td>
                    <td>{{ event.worker.experience }}</td>
                    <td>{{ event.worker.fatiguedDetails }}</td>
                    <td>{{ event.worker.fatigued }}</td>
                    <td>{{ event.worker.trainingDetails }}</td>
                    <td>{{ event.worker.training }}</td>
                    <td>{{ event.worker.trainingDate }}</td>
                    <td>{{ event.worker.physicsCapDetails }}</td>
                    <td>{{ event.worker.physicsCap }}</td>
                    <td>{{ event.worker.mentalCapDetails }}</td>
                    <td>{{ event.worker.mentalCap }}</td>
                    <td>{{ event.worker.physicalTensionDetails }}</td>
                    <td>{{ event.worker.physicalTension }}</td>
                    <td>{{ event.worker.mentalTensionDetails }}</td>
                    <td>{{ event.worker.mentalTension }}</td>
                    <td>{{ event.worker.accidentHistory }}</td>
                    <td>{{ event.worker.dateAccidentHistory }}</td>

                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
