<div class="card border-primary mb-3">
    <div class="card-header">Lugar de trabajo</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Eventos</h5>

        <div class="table-responsive">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>name</th>
                    <th>energy</th>
                    <th>workEquipmentFails</th>
                    <th>defense</th>
                    <th>defenseIntegrity </th>
                    <th>correctUseEquimant</th>
                    <th>locked</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>{{ event.workEquipement.name }}</td>
                    <td>{{ event.workEquipement.energy }}</td>
                    <td>{{ event.workEquipement.workEquipmentFails }}</td>
                    <td>{{ event.workEquipement.defense }}</td>                    
                    <td>{{ event.workEquipement.defenseIntegrity }}</td>
                    <td>{{ event.workEquipement.correctUseEquimant }}</td>
                    <td>{{ event.workEquipement.locked }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
